<div class="container ">


    <h1 class="mt-2">Eat Da Burger!

    </h1>

    <hr class="my">

    <div class="container mb-5">


        <h5>Add A Burger</h5>
        <p>Specify a name for your burger.</p>


        <div class="row">
            <div class="col">
                <form action="/api/burgers" method="POST">
                    <input type="text" name="burger_name" placeholder="Burger Name">
                    <button type="submit" class="btn btn-primary">Add Burger</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row mb-5">


        <div class="col">


            <h5>Consume?</h5>
            <ul class="list-group">

                {{#each burgers}}
                {{#unless this.devoured}}
                {{> burgers/burger-block devoured=false}}
                {{/unless}}
                {{/each}}

            </ul>
        </div>
        <div class="col">

            <h5>Consumed!</h5>

            <ul class="list-group">

                {{#each burgers}}
                {{#if this.devoured}}
                {{> burgers/burger-block devoured=true}}
                {{/if}}

                {{/each}}

            </ul>
        </div>
    </div>
</div>