<h1>Eat Da Burger</h1>

<h2>Burgers that need to be eaten</h2>
<ul>
    {{#each burgers}}
    {{#unless this.devoured}}
    {{> burgers/burger-block devoured=false}}
    {{/unless}}
    {{/each}}
</ul>

<h2>Burgers that are eaten</h2>

<ul>
    {{#each burgers}}
    {{#if this.devoured}}
    {{> burgers/burger-block devoured=true}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add A Burger</h2>

<div class="row">
    <div class="col s12">
        <form action="/api/burgers" method="POST">
            <input type="text" name="burger_name" placeholder="add burger">
            <button type="submit" class="addBurger">Add Burger</button>
        </form>
    </div>
</div>